<% if user_signed_in? %>

<h4>The steps to Drop</h4>
1. Select an account to drop to (future)
2. Add account to drop
3. Create an email - default outlook
4. Map locations
5. Mark that I dropped - three things - Scheduled an appointment, Spoke with contact, left drop with someone, 
6. Enter notes 
7. Decide on next steps

<h1>Planned Drops</h1>



<table>
  <thead>
    <tr>
      <th>Scheduledrop</th>
      <th>Account</th>
      <th>Time of Day</th>
      <th>Actualdrop</th>
      <th>Contactname</th>
      <th>Contactaddress</th>
      <th>Contactphone</th>
      <th>Contactemail</th>
      <th>Notes</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @drops.each do |drop| %>
      <tr>
        <td><%= drop.scheduledrop.strftime("%a %d") %></td>
        <td><%= drop.account %></td>
        <td><%= drop.time_of_day %></td>
        <td><%= drop.actualdrop %></td>
        <td><%= drop.contactname %></td>
        <td><%= drop.contactaddress %></td>
        <td><%= drop.contactphone %></td>
        <td><%= drop.contactemail %></td>
        <td><%= drop.notes %></td>
        <td><%= link_to 'Show', drop %></td>
        <td><%= link_to 'Edit', edit_drop_path(drop) %></td>
        <td><%= link_to 'Destroy', drop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Drop', new_drop_path %>

<% end %>
