<% if user_signed_in? %>

<h1>Listing calls</h1><br/>

<div class="row">
  <!-- Column Chart --> 

    <h3>Calls Per Day</h3>
    <%= column_chart @calls.group_by_day(:time, format: "%a %d", week_start: :mon, range: 5.day.ago.midnight..Time.now ).count %>

</div>

<%= @callCountDaily %> - Calls Today<br/>
<%= @callCountWeekly %> - Weekly Calls (Last 5 Days)<br/>
<%= @callCountWeeklyAverage %> - Average Calls per Week <br/>
<%= @callCountMonthlyAverage %> - Average Calls per Month <br/><br/>

<%= link_to new_call_path, class: 'btn btn-primary btn-lg' do %>
  <span class="glyphicon glyphicon-plus"></span>
  New Call
<% end %>
<br /><br />
<table class="table table-striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>Time</th>
      <th>Results</th>
      <th>Spoken</th>
      <th>Rvm</th>
      <th>Lvm</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
 
  <tbody>
    <% @calls.each do |call| %>
      <tr>
        <td><%= call.date.strftime("%a") %></td>
        <td><%= call.time.in_time_zone('Central Time (US & Canada)').strftime("%I:%M")  %></td> 
        <td><%= call.results %></td>
        <td><%= call.spoken %></td>
        <td><%= call.rvm %></td>
        <td><%= call.lvm %></td>
        <td><%= link_to call, class: 'btn btn-default' do %>
          <span class="glyphicon glyphicon-search"></span>
          Show
          <% end %>
        </td>
        <td><%= link_to edit_call_path(call), class: 'btn btn-default' do %>
          <span class="glyphicon glyphicon-pencil"></span>
          Edit
          <% end %>
        </td>
        <td><%= link_to call, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' do %>
          <span class="glyphicon glyphicon-remove"></span>
          Destroy
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to new_call_path, class: 'btn btn-primary btn-lg' do %>
  <span class="glyphicon glyphicon-plus"></span>
  New Call
<% end %>

<% end %>

