
<p>
  <strong>Results:</strong>
  <%= @call.results %>
</p>

<p>
  <strong>Spoken:</strong>
  <%= @call.spoken %>
</p>

<p>
  <strong>Rvm:</strong>
  <%= @call.rvm %>
</p>

<p>
  <strong>Lvm:</strong>
  <%= @call.lvm %>
</p>

<p>
  <strong>Date:</strong>
  <%= @call.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @call.time %>
</p>

<%= link_to 'Edit', edit_call_path(@call) %> |
<%= link_to 'Back', calls_path %>
